* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 40px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}
header .header__figure {
  width: 200px;
  height: 60px;
}
header .header__figure .header__figure-img {
  width: 100%;
}
header .nav-bar {
  position: absolute;
  right: 0;
  margin-right: 40px;
  cursor: pointer;
}
header .nav-bar .nav-bar__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav-bar .nav-bar__profile .nav-bar__profile-img {
  margin-right: 10px;
  font-size: 35px;
}
header .nav-bar .nav-bar__list {
  list-style: none;
  text-align: end;
  display: none;
}
header .nav-bar .nav-bar__list .nav-bar__list-item {
  margin-top: 10px;
}
header .nav-bar .nav-bar__list .nav-bar__list-item .list-item__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
}
header .nav-bar .nav-bar__list .nav-bar__list-item .list-item__link:hover {
  text-decoration: underline;
}
header .nav-bar:hover .nav-bar__list, header .nav-bar__list {
  display: block;
}

header {
  background-color: #21C08B;
  font-family: "Lato", sans-serif;
}

.register {
  background: -webkit-gradient(linear, left bottom, left top, from(#8F57FD), to(#21C08B));
  background: linear-gradient(to top, #8F57FD, #21C08B);
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.register-container {
  width: 37%;
  min-width: 310px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 60px 60px 40px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  -webkit-box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.5);
}

.register-container__title {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 80px;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.register-form__input {
  width: 100%;
  height: 50px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.register-form__input::-webkit-input-placeholder {
  padding-left: 10px;
  color: #ffffff;
}

.register-form__input::-moz-placeholder {
  padding-left: 10px;
  color: #ffffff;
}

.register-form__input:-ms-input-placeholder {
  padding-left: 10px;
  color: #ffffff;
}

.register-form__input::-ms-input-placeholder {
  padding-left: 10px;
  color: #ffffff;
}

.register-form__input::placeholder {
  padding-left: 10px;
  color: #ffffff;
}

.register-form__button-register {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.register-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
}

.register-login-text__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.register-login-text__link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .register-container {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none rgba(0, 0, 0, 0.5);
  }
}
.footer {
  width: 100%;
  padding: 30px;
  background-color: #8F57FD;
  font-family: "Lato", sans-serif;
}

.nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar-list__item {
  list-style: none;
  margin: 10px;
}

.nav-bar-list__item-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-bar-list__item-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}