doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Platzi-Video/home
        link(rel="stylesheet", href="../css/home.css")
    body
    header 
        figure.header__figure
            img.header__figure-img(src="../images/logo-platzi-video.png", alt="Logo Platzi Video")
        nav.nav-bar
            div.nav-bar__profile
                a.nav-bar__profile-img.fas.fa-user-circle
                p.nav-bar__profile-txt Profile
            ul.nav-bar__list 
                li.nav-bar__list-item
                    a(href="#").list-item__link Account
                li.nav-bar__list-item 
                    a(href="./index.html").list-item__link Sign out
    <script src="https://kit.fontawesome.com/6fb1bacd2b.js" crossorigin="anonymous"></script>
