doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Platzi-Video/home
        link(rel="stylesheet", href="../css/home.css")
    body
    header 
        figure.header__figure
            img.header__figure-img(src="../images/logo-platzi-video.png", alt="Logo Platzi Video")
        nav.nav-bar
            div.nav-bar__profile
                a.nav-bar__profile-img.fas.fa-user-circle
                p.nav-bar__profile-txt Profile
            ul.nav-bar__list 
                li.nav-bar__list-item
                    a(href="#").list-item__link Account
                li.nav-bar__list-item 
                    a(href="./index.html").list-item__link Sign out
    main
        section.search 
            h2.search__title What do you want to see today?
            input(type="text", placeholder="Search...").search__input
        section.carousel
            h2.carousel__title My list
            div.carousel__container
                div.carousel-item
                    img(src="../images/video1.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video2.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video3.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video4.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video5.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video6.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

        section.carousel
            h2.carousel__title Trends
            div.carousel__container
                div.carousel-item
                    img(src="../images/video1.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video2.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video3.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video4.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video5.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video6.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

        section.carousel
            h2.carousel__title PlatziVideo originals
            div.carousel__container
                div.carousel-item
                    img(src="../images/video1.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video2.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video3.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video4.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video5.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

                div.carousel-item
                    img(src="../images/video6.jpg" alt="video 1").carousel-item__img
                    div.carousel-item__details
                        div.details-icons-container
                            img(src="../images/iconPlay.png" alt="icon play").details-icons-container__img-icon
                            img(src="../images/iconPlus.png" alt="icon play").details-icons-container__img-icon
                        div.details-text-container
                            p.text-container__details--title Descriptive title
                            p.text-container__details--date 2021 sep 20

    footer.footer 
        nav.footer-nav-bar 
            ul.nav-bar-list 
                il.nav-bar-list__item 
                    a.nav-bar-list__item-link(href="#") Terms of use
                il.nav-bar-list__item 
                    a.nav-bar-list__item-link(href="#") Privacy statement
                il.nav-bar-list__item 
                    a.nav-bar-list__item-link(href="#") Help Center
    <script src="https://kit.fontawesome.com/6fb1bacd2b.js" crossorigin="anonymous"></script>
