doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Platzi Video
        link(rel="stylesheet", href="../css/index.css")
    body
        header 
            figure.header__figure
                img.header__figure-img(src="../images/logo-platzi-video.png", alt="Logo Platzi Video")
                