.footer {
    width: 100%;
    padding: 30px;
    background-color: $color-secoundary;
    font-family: $font-one;
}

.nav-bar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-bar-list__item {
    list-style: none;
    margin: 10px;
}

.nav-bar-list__item-link {
    color: $color-light;
    text-decoration: none;
}


.nav-bar-list__item-link:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
}