$color-primary: #21C08B;
$color-secoundary: #8F57FD;
$color-secoundary-dark: #5E1DFC;
$color-variation: #AB88FF;
$color-light: #ffffff;
$font-one: 'Lato', sans-serif;
$font-two: 'Oswald', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
