header {
    width: 100%;
    display: flex;
    position: relative;
    padding: 20px 40px 0;
    justify-content: space-between;
    color: $color-light; 

        .header__figure {
            width: 200px;
            height: 60px;
            .header__figure-img {
                width: 100%;
            }
        }

        .nav-bar {
            position:absolute;
            right: 0;
            margin-right:40px;
            cursor: pointer;
            .nav-bar__profile {
                display: flex;
                align-items: center;
                    .nav-bar__profile-img{
                        margin-right: 10px;
                        font-size:35px;
                    }
            }

            .nav-bar__list{
                list-style: none;
                text-align: end;
                display: none;
                .nav-bar__list-item{
                    margin-top: 10px;
                    .list-item__link{
                        text-decoration: none;
                        color: $color-light;
                        font-weight: normal;
                    }

                    .list-item__link:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        .nav-bar:hover .nav-bar__list, .nav-bar__list{
            display:block;
        }
}
